
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/SideBar.cshtml";
}

                <h2 style="font-size: 25px; text-align: center;">DERSLERİM</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Dersin Adı</th>
                            <th scope="col">Bölümü</th>
                            <th scope="col">Ders Düzeyi</th>
                            <th scope="col">Derslik</th>
                            <th scope="col">AKTS</th>
                            <th scope="col">Yoklama Başlat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clickable-row">
                            <td>Buraya ders adı gelecek</td>
                            <td>bölüm</td>
                            <td>düzey</td>
                            <td>derslik</td>
                            <td>AKTS</td>
                            <td><a href=""><img src="~/images/bluetoothicon.png" style="width: 100px;"></a></td>

                        </tr>
                        </tbody>
                    </table>
            </div>
            </div>
        </div>

