@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba @UserManager.GetUserName(User)!</a>

    <a type="submit" class="btn btn-outline-primary" href="/Home/Logout">Cikis Yap</a>

}
else
{
    <a class="btn btn-outline-primary" href="/Identity/Account/Register" role="button">Kayit Ol</a>

    <a class="btn btn-outline-primary" href="/Identity/Account/Login" role="button">Giris Yap</a>

}